[Storage] Blob download: short reads

- **Package Name**: azure-storage-blob 
- **Package Version**: 12.5.0
- **Operating System**: Debian 9
- **Python Version**: python3.6

Other relevant packages: azure-core==1.10.0

**Describe the bug**

Reading the blob content can return too few bytes, leading to data corruption.

**To Reproduce**
Steps to reproduce the behavior:
1. create some blobs with fake data (not too small: best beyond the maximum get blob size, which has a default of 32MB)
2. download these blobs completely via `BlobClient.download_blob().readall()`. If the download returned without error, compare the content with the expected one from the upload in step 1.

Note that you have to repeat step 2. about 1 million times (depending on network, may be more or less; I estimate this is the order of probability we observe); alternatively, take other measures to increase the likelihood of a connection error while downloading the blob content.

**Expected behavior**

When the blob download completed without exception, the download content must match exactly with what was uploaded before, including the length.

**Additional context**

We observe this mainly when downloading parts of blobs, i.e. when passing non-zero offset and length parameters to `BlobClient.download_blob()`


I wrote a test for the bug I believe is responsible for it, see
https://github.com/Azure/azure-sdk-for-python/compare/master...jochen-ott-by:reproduce-gh-16723?expand=1

The believe the bug is in the retry behavior of `azure.core.pipeline.transport._request_basic.StreamDownloadGenerator.__next__`:

https://github.com/Azure/azure-sdk-for-python/blob/56193e95eac71933cbaebea56d63c48c4a01d333/sdk/core/azure-core/azure/core/pipeline/transport/_requests_basic.py#L122-L148

(`self.iter_content_func` is `response.iter_content(self.block_size)`, where `response` is the `requests.Response` object)

So what can happen is that L124 fetches the next chunk from the network. This usually is fine. However, assume there is a ConnectionError. This invokes the retry behavior starting at L134. If nothing else goes wrong, the next interesting thing that happens is L143: the code actually calls `next` on a generator that already raised an exception! This will always raise a `StopIteration`. This exception propagates and the caller of `StreamDownloadGenerator.__next__` assumes that the download is complete (although it's not).

Some other observations:
 * It's unclear what L139-L142 are intended for. They seem to be intended to check if the range has become invalid. However, merely setting the "range" header is wrong for a number of reasons, including that blob storage requests usually set `x-ms-range`, which takes priority at the server. Also, the original request often has a range already set. Just starting to request from the current chunks .downloaded makes no sense.
 * In general, re-trying to read from a connection after there was a connection-related error is extremely fragile, as it;s usually not clear whether (if any) bytes have been processed. So I think the whole retry code should be removed: Instead, this should just raise and give the layers above a chance to initiate a re-try.

A possible fix for the requests backend would simply be to remove the retry code and instead let any connection-related exception propagate to the caller rather than returning too few bytes, see
https://github.com/Azure/azure-sdk-for-python/commit/a198cf7ca5f30e1c1b0503d75f23830189292867

However, other backends should also be reviewed and adapted if necessary.

Thanks for the feedback, we’ll investigate asap.

@jochen-ott-by Thanks for your feedback. I am afraid we cannot just simply remove the retry  logic because

1. It has values for most of the customers
2. Removing is a potential breaking change

I will do some investigation and try to repro it. (Note that you have to repeat step 2. about 1 million times sounds a little tricky)

> @jochen-ott-by Thanks for your feedback. I am afraid we cannot just simply remove the retry logic because
> 
>     1. It has values for most of the customers
>     2. Removing is a potential breaking change

Let me be clear here: the retry logic like it's implemented right now (for the requests backend) is completely buggy and it's *never* effective in actually retrying *anything*. It will instead return corrupted data. It has *negative* value for all customers, a very large one for some.

Removing it is a fix. Nothing less, nothing more.

(Note that for other backends, the story might be different, as they are read-based, and re-trying a read might make sense).

Hi @xiangyan99,

https://github.com/Azure/azure-sdk-for-python/commit/5dee530a2b2533ec1f934678ceda5e3f0a24b4db has a reproducing test for the wrong behaviour, so better start with this one.



> > @jochen-ott-by Thanks for your feedback. I am afraid we cannot just simply remove the retry logic because
> > ```
> > 1. It has values for most of the customers
> > 2. Removing is a potential breaking change
> > ```
> 
> Let me be clear here: the retry logic like it's implemented right now (for the requests backend) is completely buggy and it's _never_ effective in actually retrying _anything_. It will instead _always_ return corrupted data when these exception happen. It has _negative_ value for all customers, a very large one for some.
> 
> Removing the retry is a fix. Nothing less, nothing more. One can remove the re-try without changing the interface, so this does not have to be "breaking" (if one would only apply the changes in `__next__`, this would fix the issue already and be completely API compatible).
> 
> (Note that for other backends, the story might be a bit different, as they are read-based, and re-trying a read might make sense).
> 
> So here is a fix for the requests backend that is API compatible and explains in the comments in some depth why a re-try at that point in the code cannot be correct:
> [2d31192](https://github.com/Azure/azure-sdk-for-python/commit/2d3119209bf0779a6fd8a4a8dc2333b83c883c74)

I agree with you. Buggy behavior has negative values. 

So let's fix the buggy behavior and keep the retry logic. :)

I will keep you updated.

I see there is something buggy in L140 that if ConnectionError pops up, we don't handle it correctly. I proposed a fix for it. I will let you know when it is released.

@xiangyan99 I think the point that @jochen-ott-by tries to make here is that the current retry _implementation_ is broken, not that retrying per se is the culprit.

The retry logic could be re-implemented in a way which does not re-use the same connection so as to address this point by @jochen-ott-by 
> In general, re-trying to re-use the same connection after there was a connection error is extremely fragile, as it's usually not clear at which position the low-level stream actually is and how much bytes (if any) have been read (e.g. into some intermediate buffer).

As some background, we've been seeing very weird IO errors because of this bug, which have taken months to debug, given the nondeterministic and low-level nature of the issue.

> @xiangyan99 I think the point that @jochen-ott-by tries to make here is that the current retry _implementation_ is broken, not that retrying per se is the culprit.
> 
> The retry logic could be re-implemented in a way which does not re-use the same connection so as to address this point by @jochen-ott-by
> 
> > In general, re-trying to re-use the same connection after there was a connection error is extremely fragile, as it's usually not clear at which position the low-level stream actually is and how much bytes (if any) have been read (e.g. into some intermediate buffer).
> 
> As some background, we've been seeing very weird IO errors because of this bug, which have taken months to debug, given the nondeterministic and low-level nature of the issue.

Thank you.

Yes, I think we are on same page.

Existing retry functions incorrectly. 

Let's fix it.

The retry block:
    Should we keep retry for ChunkedEncodingError and remove L133.
    Add another block to handle ConnectionError.

I'm very concerned about the retry at this point of the library stack. Let me take some time to explain why and how complex a correct solution would be. I hope this convinces you to simply remove the retries altogether, which in my opinion is the proper way to deal with the problem at this point of the code.

First, as some context, consider what this code is used for: it is the basic building block for a lot of azure python sdk libraries. As such, it should be extremely careful about making assumptions about:
 * how it is used by other azure python sdk libraries
 * how servers behave
 * how underlying libraries (requests, urllib3 in this case) behave.

So this core library should avoid any assumptions beyond what the http standard allows.

When sticking to what the http standard says, a correct retry implementation is pretty involved. I listed *some* of the things to consider below.  I make no claim this list is complete. Some of the points are not blockers in that they merely limit the usefulness of the re-try to certain situations (such as the signature problem), or they make the re-try much less efficient (when re-submitting the original request for a retry after all).

 * not all requests should be re-tried, re-try should be limited to safe http methods. As this is about streaming the body, the only http method this applies to is GET.
 * making the request again with a certain "range" header will require choosing proper parameters for the request range. I discussed in some detail in this comment: https://github.com/Azure/azure-sdk-for-python/pull/16783#discussion_r579411043 why this is not possible in general with the requests/urllib3 stack. So one either has to restrict this "re-try with subrange" to certain cases that are known to work (such as: content-encoding and transfer encoding are non-chunked identify encodings). Alternatively, the re-try could re-submit the *original* request, without the attempt to set a new "range" parameter and discard any data already returned to the caller (note that this also side-steps the signature and range vs. x-ms-range problems discussed below).
 * setting a "range" header in the request that re-tries could be ignored by the service. This will be true e.g. for the GET blob operation, which will give precedence to `x-ms-range`, see https://docs.microsoft.com/en-us/rest/api/storageservices/specifying-the-range-header-for-blob-service-operations
 * setting a "range" header can invalidate authentication headers, see https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key#blob-queue-and-file-services-shared-key-authorization
 * The server might ignore the "range" header and respond with 200, rather than 206. This must be checked in the client.
 * The response of the new request in the re-try will attempt to combine data from different requests. Such combination of partial data is prone to data corruption e.g. in case the server creates the response dynamically and can can have byte-level differences (say, the order of json keys), even if the semantics are the same. This is considered in the http standard, see section 3.3 of RFC 7234 ("Combining Partial Content") and section 4.3. of RFC 7233 ("Combining Ranges"). In short, ranges must not be combined, unless the responses have the same (non-weak) ETag.
 * The client MUST check the headers of the response, not only for status code 206 but also the specific range is what was expected, as other range fields (such as x-ms-range) can take precedence over the "range" header field.

Overall, the implementation of re-tries at this level of the library will be pretty complex, and still only apply to a certain subset of cases (for example, the re-try that sets ranges will never be effective for GET blob operations for the reasons discussed above). I therefore think the re-try at this point should be removed. It's better to let the exception propagate and to re-try at a higher level, where new requests for ranges can be constructed correctly (e.g. with the correct signature). Also, at this point there is usually a lot more context information available, which means that re-tries at higher levels do not need to consider all of the special cases listed above. For example, they might already be in the code path of a GET operation, so there would be no branching concerning the first point.

@jochen-ott-by you are right. It is more complex than we expected. :(

We checked in #17078 to disable the retry and will release the work around next week.

Thanks for the feedback and contribution.

Hi @jochen-ott-by, we disabled the retry in latest release. Please let us know if you are still blocked. Thank you.

> Hi @jochen-ott-by, we disabled the retry in latest release. Please let us know if you are still blocked. Thank you.

The fix looks good, thanks! I consider this fixed via #17078.

Yes. That was the PR. Thanks for the confirmation.